@media (min-width: 688px) {
  .header {
    padding: 40px;
  }
  .header .menu-navegation ul {
    gap: 30px;
    font-size: 16px;
  }
  .introduction .introduction-text {
    margin-top: 30px;
  }
  .introduction .introduction-text h2 {
    font-size: 30px;
  }
  .stay-productive {
    padding: 60px;
  }
  .stay-productive .stay-productive-text h2 {
    font-size: 24px;
  }
  .stay-productive .stay-productive-text p {
    font-size: 16px;
    max-width: 450px;
  }
  .testimonial p {
    max-width: 450px;
  }
  .access {
    max-width: 500px;
    margin: 150px auto;
    margin-bottom: -120px;
  }
  .access h3 {
    font-size: 25px;
  }
  .footer-inner {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 0 150px;
  }
  .footer-inner p {
    max-width: 380px;
    margin-bottom: 50px;
  }
  .footer-inner .navegation {
    margin-left: 50px;
  }
  .footer-inner .contact {
    margin-bottom: 10px;
  }
  .footer-inner .social {
    margin-left: -230px;
  }
}

@media (min-width: 1024px) {
  .header .menu-navegation ul {
    gap: 40px;
    font-size: 22px;
  }
  .introduction {
    text-align: center;
  }
  .introduction img {
    width: 60%;
    margin: auto;
  }
  .introduction .introduction-text h2 {
    max-width: 500px;
    font-size: 35px;
    line-height: 45px;
  }
  .introduction .introduction-text p {
    font-size: 20px;
    line-height: 30px;
    max-width: 500px;
  }
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .stay-productive {
    display: flex;
    gap: 30px;
  }
  .stay-productive img {
    width: 50%;
  }
  .stay-productive .stay-productive-text h2 {
    font-size: 35px;
  }
  .stay-productive .stay-productive-text p {
    font-size: 16px;
    max-width: 450px;
  }
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .access {
    max-width: 800px;
    margin: 150px auto;
    margin-bottom: -120px;
  }
  .access h3 {
    font-size: 35px;
  }
  .access p {
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
  }
  .access form {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .access form input {
    margin-top: 0;
    padding: 15px 140px;
  }
  .error {
    bottom: 10px;
    left: 50px;
  }
  .access form .btn-get-started {
    width: 230px;
    padding: 15px 40px;
  }
  .footer-inner {
    display: grid;
    grid-template-columns: 300px 1fr 150px 150px;
    gap: 35px;
  }
  .footer-inner .social {
    margin-left: 0px;
    margin-top: 0;
  }
  .footer-inner .navegation {
    margin-left: 0px;
  }
}
@media (min-width: 1280px) {
  .footer-inner {
    display: grid;
    grid-template-columns: 400px 1fr 130px 130px 1fr;
    gap: 35px;
  }
  .footer-inner .contact {
    margin-top: 30px;
  }
  .footer-inner .navegation {
    margin-top: 30px;
  }
  .footer-inner .social {
    margin-top: 30px;
  }
}
