@media (min-width: 688px) {
  .header {
    padding: 30px;
  }
  .introduction .introduction-text h2 {
    margin: auto;
    font-size: 30px;
  }
  .introduction .introduction-text p {
    font-size: 20px;
    max-width: 400px;
  }
  .services .service h3 {
    font-size: 25px;
  }
  .services .service p {
    font-size: 18px;
    line-height: 25px;
    max-width: 360px;
  }
  .stay-productive .stay-productive-text h2 {
    font-size: 22px;
    margin-top: 40px;
  }
  .stay-productive .stay-productive-text p {
    font-size: 18px;
    max-width: 400px;
    margin-top: 23px;
  }
  .access {
    max-width: 450px;
  }
  .footer-inner {
    grid-template-columns: 1fr 1fr;
    gap: 90px;
  }

  .footer-inner .contact {
    margin-top: 50px;
  }
  .footer-inner .navegation {
    margin-top: -50px;
  }

  .footer-inner .social {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 60px;
  }
  .header .menu-navegation ul {
    font-size: 20px;
    gap: 30px;
  }
  .introduction .introduction-text h2 {
    font-size: 30px;
    max-width: 600px;
    margin-top: 30px;
    line-height: 50px;
  }
  .introduction .introduction-text p {
    font-size: 18px;
    line-height: 30px;
    max-width: 550px;
    margin: 25px auto;
  }
  .services {
    grid-template-columns: 1fr 1fr;
  }
  .stay-productive {
    display: flex;
    gap: 50px;
    padding: 50px;
  }
  .stay-productive img {
    width: 50%;
  }
  .stay-productive .stay-productive-text h2 {
    font-size: 30px;
    max-width: 300px;
  }
  .testimonials {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .access {
    max-width: 650px;
  }
  .access h3 {
    font-size: 30px;
  }
  .access p {
    font-size: 14px;
    line-height: 20px;
    max-width: 650px;
    margin: 30px auto;
  }
  .access form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .access form input {
    padding: 15px 100px;
  }
  .access form .btn-get-started {
    width: 200px;
    padding: 15px;
    margin-top: 20px;
  }
  .footer-inner {
    grid-template-columns: 250px 1fr 1fr 1fr 1fr;
    gap: 50px;
  }
  .footer-inner .social {
    margin-right: 0;
    margin-top: 30px;
  }

  .footer-inner .navegation {
    margin-top: 30px;
  }
  .footer-inner .contact {
    margin-top: 30px;
  }
  .footer-inner .contact li {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .stay-productive {
    gap: 80px;
    padding: 50px;
  }
  .stay-productive .stay-productive-text p {
    margin-top: 20px;
    font-size: 16px;
    max-width: 430px;
  }
  .access {
    max-width: 800px;
    margin-bottom: -130px;
  }
  .footer-inner .navegation {
    margin-bottom: 0px;
  }
  .footer-inner {
    grid-template-columns: 250px 1fr 100px 100px 1fr;
    gap: 100px;
  }
}
