:root {
  --Dark-Blue: hsl(217, 28%, 15%);
  --Dark-Blue-Main: hsl(218, 28%, 13%);
  --Dark-Blue-Footer: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials: hsl(219, 30%, 18%);
  --Cyan: rgb(169, 255, 249);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}
